@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* End of Meyer Reset CSS */

img {
    max-width: 100%;
    /*makes images scale with flexible grids*/
    display: block;
    /*removes tiny space added in some browsers below images */
}

html {
    font-size: 12pt;
    /* Adjust for REM */
    line-height: 1;
}


/*  CSS STARTS HERE    */

* {
    box-sizing: border-box;
}

body {
    font-family: 'usual', Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

h3 {
    text-align: center;
    line-height: 2em;
    font-size: .7em;
    white-space: nowrap;
}

a {
    text-align: center;
    line-height: 1.7em;
    font-size: 1.5em;
    color: white;
}

a:link,
a:active,
a:hover,
a:focus {
    text-decoration: none;
    color: white;
}

.austin a:visited h3 {
    text-decoration: none;
    color: #Ec5E5e;
}

.lbj a:visited h3 {
    text-decoration: none;
    color: #FFC34D;
    ;
}

.barton a:visited h3 {
    text-decoration: none;
    color: #009D9D;
}

h4 {
    text-align: center;
    display: block;
    margin: 0px auto;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.container-fluid {
    padding: 0rem;
}

.student {
    position: relative;
    width: 20%;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    max-width: 200px;
}

.headshot {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.austin .overlay {
    background-color: rgba(236, 94, 94, .45);
}

.lbj .overlay {
    background-color: rgba(255, 195, 77, .45);
}

.barton .overlay {
    background-color: rgba(0, 157, 157, .45);
}

.student:hover .overlay {
    height: 100%
}

.student:active .overlay {
    height: 100%;
    text-decoration: none;
}

.slide-up {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.tag {
    padding: .3em .3em .3em .3em;
}


/* ----------- LANDING PAGE -------------*/

.landing_header {
    width: 100%;
    height: 100vh;
    z-index: -100;
    position: fixed;
}

.landing_header p {
    color: #DBDCDD;
    font-family: 'usual', sans-serif;
    width: 99%;
    font-size: 1.4rem;
    margin-left: 1.5%
}

.landing_header h1 {
    color: #DBDCDD;
    font-family: 'usual', sans-serif;
    width: 99%;
    font-size: 1rem;
    margin-left: 1.5%
}

.header_lockup {
    position: absolute;
    width: 45%;
    margin-top: 2%;
    margin-left: 2%;
}

.bd_logo {
    float: left;
    display: inline-block;
    width: 6%;
}

.header_type {
    font-size: 1rem!important;
    float: left;
    display: inline-block;
    color: #DBDCDD;
    margin-left: 3%!important;
    width: 56%!important;
    margin-top: 2%;
    position: absolute;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
}

.dots {
    position: absolute;
    right: 0;
    top: 2.3%;
}

.color1 {
    width: 45%;
    background-color: #0A2436;
    height: 100vh;
    float: left;
    display: inline-block;
    z-index: -99;
}

.color2 {
    width: 55%;
    background-color: #009D9D;
    height: 100vh;
    float: right;
    display: inline-block;
    z-index: -99;
}

.logo_lockup {
    position: absolute;
    margin-left: 30.4%;
    margin-top: 17%;
    width: 55%;
}

.razor_logo {
    position: absolute;
    bottom: 4%;
    width: 10%;
    left: 30%;
}

.txst_logo {
    position: absolute;
    bottom: 2%;
    width: 10%;
    right: 40%;
}

.process {
    animation-delay: .3s;
    animation-timing-function: ease-out;
}

.event_details {
    animation-delay: .5s;
    animation-timing-function: ease-out;
}


/* --------- PORTFOLIO SECTION -------*/

#filtered-portfolio {
    background-color: #FFC34D;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 100vh;
    position: absolute;
    width: 100%;
}

#filtered-portfolio h4 {
    margin-bottom: 2rem;
}

.js-radio-button {}

.view_portfolio_link {
    position: fixed;
    width: 14rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 30rem auto 0rem!important;
    left: 0;
    right: 0;
    background-color: #DBDCDD;
    border: none;
    padding: .5rem;
    bottom: 0;
}

.view_portfolio_link p {
    font-size: .8rem;
    color: #0A2436;
    font-family: 'usual', sans-serif;
    font-weight: 600;
    text-align: left;
    line-height: .9rem;
    width: 75%;
    clear: both;
    display: inline-block;
    float: left;
    margin-top: .45rem;
    margin-left: .5rem;
}

.view_portfolio_link a {
    text-decoration: none;
}

.view_portfolio_link a:hover {
    text-decoration: none;
}

#portfolio_anchor {
    position: absolute;
    width: 25%;
    margin-top: 57.59%
}


/*  --------- ARROW BOUNCE --------- */

.scroll_arrow_div {
    width: 15%;
    float: right;
    margin-right: .5rem;
}

.scroll_arrows {
    width: 73%!important;
    margin: 0rem auto 0rem;
    padding-top: 0rem;
    float: right -webkit-animation: scroll_button 2s infinite;
    /* Safari 4+ */
    -moz-animation: scroll_button 2s infinite;
    /* Fx 5+ */
    -o-animation: scroll_button 2s infinite;
    /* Opera 12+ */
    animation: scroll_button 2s infinite;
    /* IE 10+, Fx 29+ */
}

.scroll_arrows_2 {
    width: 73%!important;
    margin: -.3rem auto 0rem;
    padding-top: 0rem;
    -webkit-animation: scroll_button 2s infinite;
    /* Safari 4+ */
    -moz-animation: scroll_button 2s infinite;
    /* Fx 5+ */
    -o-animation: scroll_button 2s infinite;
    /* Opera 12+ */
    animation: scroll_button 2s infinite;
    /* IE 10+, Fx 29+ */
    animation-timing-function: ease-in-out;
}

.scroll_arrows_3 {
    width: 73%!important;
    margin: -.3rem auto 0rem;
    padding-top: 0rem;
    -webkit-animation: scroll_button 2s infinite;
    /* Safari 4+ */
    -moz-animation: scroll_button 2s infinite;
    /* Fx 5+ */
    -o-animation: scroll_button 2s infinite;
    /* Opera 12+ */
    animation: scroll_button 2s infinite;
    /* IE 10+, Fx 29+ */
    animation-timing-function: ease-in;
}


/* ---- button ---- */

.button {
    display: inline-block;
    float: left;
    padding-top: .9rem;
    padding-bottom: .9rem;
    background: #0A2335;
    border: none;
    border-radius: 7px;
    background-repeat: no-repeat;
    color: white;
    font-size: 1em;
    cursor: pointer;
    padding-left: 3rem;
    border: 3px solid #0A2335;
    margin: .25em .25em .25em .25em;
}

.button:hover {
    background-color: white;
    color: #0A2335;
}

.button:active,
.button.is-checked {
    background-color: white;
    color: #0A2335;
}

.button.is-checked {
    color: white;
    color: #0A2335;
}

.button:active {
    box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

.first-row {
    width: 670px;
    margin: 0px auto;
}

.two-row {
    width: 640px;
    margin: 0px auto;
}

.three-row {
    width: 745px;
    margin: 0px auto;
}

.col-sm-offset-2 {
    margin: 0px auto;
}


/* button icons*/

#branding {
    background-image: url(../img/Portfolio-Icons/Branding_Light.png);
    transition: background-image .6s ease-in-out;
}

#branding:hover {
    background-image: url(../img/Portfolio-Icons/Branding_Dark.png);
}

#branding.is-checked {
    background-image: url(../img/Portfolio-Icons/Branding_Dark.png);
}

#UXUI {
    background-image: url(../img/Portfolio-Icons/UXUI_Light.png);
    transition: background-image .6s ease-in-out;
}

#UXUI:hover {
    background-image: url(../img/Portfolio-Icons/UXUI_Dark.png);
}

#UXUI.is-checked {
    background-image: url(../img/Portfolio-Icons/UXUI_Dark.png);
}

#illustration {
    background-image: url(../img/Portfolio-Icons/Illustration_Light.png);
    transition: background-image .6s ease-in-out;
}

#illustration:hover {
    background-image: url(../img/Portfolio-Icons/Illustration_Dark.png);
}

#illustration.is-checked {
    background-image: url(../img/Portfolio-Icons/Illustration_Dark.png);
}

#typography {
    background-image: url(../img/Portfolio-Icons/Typography_Light.png);
    transition: background-image .6s ease-in-out;
}

#typography:hover {
    background-image: url(../img/Portfolio-Icons/Typography_Dark.png);
}

#typography.is-checked {
    background-image: url(../img/Portfolio-Icons/Typography_Dark.png);
}

#advertising {
    background-image: url(../img/Portfolio-Icons/Advertising_Light.png);
    transition: background-image .6s ease-in-out;
}

#advertising:hover {
    background-image: url(../img/Portfolio-Icons/Advertising_Dark.png);
}

#advertising.is-checked {
    background-image: url(../img/Portfolio-Icons/Advertising_Dark.png);
}

#video {
    background-image: url(../img/Portfolio-Icons/Video_Light.png);
    transition: background-image .6s ease-in-out;
}

#video:hover {
    background-image: url(../img/Portfolio-Icons/Video_Dark.png);
}

#video.is-checked {
    background-image: url(../img/Portfolio-Icons/Video_Dark.png);
}

#packaging {
    background-image: url(../img/Portfolio-Icons/Packaging_Light.png);
    transition: background-image .6s ease-in-out;
}

#packaging:hover {
    background-image: url(../img/Portfolio-Icons/Packaging_Dark.png);
}

#packaging.is-checked {
    background-image: url(../img/Portfolio-Icons/Packaging_Dark.png);
}

#photography {
    background-image: url(../img/Portfolio-Icons/Photography_Light.png);
    transition: background-image .6s ease-in-out;
}

#photography:hover {
    background-image: url(../img/Portfolio-Icons/Photography_Dark.png);
}

#photography.is-checked {
    background-image: url(../img/Portfolio-Icons/Photography_Dark.png);
}

#product {
    background-image: url(../img/Portfolio-Icons/Product_Light.png);
    transition: background-image .6s ease-in-out;
}

#product:hover {
    background-image: url(../img/Portfolio-Icons/Product_Dark.png);
}

#product.is-checked {
    background-image: url(../img/Portfolio-Icons/Product_Dark.png);
}

#editorial {
    background-image: url(../img/Portfolio-Icons/Editorial_Light.png);
    transition: background-image .6s ease-in-out;
}

#editorial:hover {
    background-image: url(../img/Portfolio-Icons/Editorial_Dark.png);
}

#editorial.is-checked {
    background-image: url(../img/Portfolio-Icons/Editorial_Dark.png);
}

#frontend {
    background-image: url(../img/Portfolio-Icons/FrontEnd_Light.png);
    transition: background-image .6s ease-in-out;
}

#frontend:hover {
    background-image: url(../img/Portfolio-Icons/FrontEnd_Dark.png);
}

#frontend.is-checked {
    background-image: url(../img/Portfolio-Icons/FrontEnd_Dark.png);
}

#responsive {
    background-image: url(../img/Portfolio-Icons/Responsive_Light.png);
    transition: background-image .6s ease-in-out;
}

#responsive:hover {
    background-image: url(../img/Portfolio-Icons/Responsive_Dark.png);
}

#responsive.is-checked {
    background-image: url(../img/Portfolio-Icons/Responsive_Dark.png);
}



/* FOOTER */


#footer {
    padding-top: 2rem;
    padding-bottom: 3rem;
    width: 100%;
    background-color: rgba(236, 94, 94, 1);
   position: absolute;
   z-index: 10000000;
    bottom: 0;
    
    
    
}


/* ---- isotope ---- */

.grid {
    background: #0A2335;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    margin-bottom: 3rem;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
}

.grid_whole {
    
}


/* clear fix */

.grid:after {
    content: '';
    display: block;
    clear: both;
}


/* MEDIA QUERIES START HERE  */


/*    MOBILE     */

@media screen and (max-width: 767px) {
    .splash_img_desktop {
        display: none;
    }
    .lander_img_tablet {
        display: none;
    }
    .lander_info_lockup {
        position: absolute;
        width: 100%;
        top: 15%;
        right: 13%;
    }
    .header_lockup {
        width: 85%;
        margin-top: 4%;
        margin-left: 4%;
    }
    .bd_logo {
        width: 8%
    }
    .header_type {
        width: 100%!important;
        font-size: .9rem!important;
    }
    .logo_lockup {
        width: 75%!important;
    }
    .logo_lockup h1 {
        width: 100%!important;
        font-size: .8rem;
    }
    .dots {
        margin-top: 1.7rem;
        right: -31.3%!important;
        z-index: ;
    }
    .razor_logo {
        width: 23%;
        bottom: 5.5%;
        left: 13%
    }
    .txst_logo {
        width: 23%;
        bottom: 4%;
        right: 16%;
    }
    .js-radio-button {
        width: 95%!important;
        margin: 0 auto;
    }
    .first-row {
        width: 100%;
        margin: 0px auto;
    }
    .two-row {
        width: 100%;
        margin: 0px auto;
    }
    .three-row {
        width: 100%;
        margin: 0px auto;
    }
    #portfolio_anchor {
        position: absolute;
        width: 25%;
        margin-top: 175%
    }
    
    .grid {
        width: 100%;
        margin-left: 0rem;
    }
    
}


/*    TABLET     */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .lander_img_desktop {
        display: none;
    }
    .lander_img_tablet {
        display: block;
    }
    #clock {
        width: 100%;
        font-size: 3rem;
    }
    .razor_logo {
        width: 13%;
        bottom: 5.5%;
    }
    .txst_logo {
        width: 13%;
        bottom: 4%;
    }
    .dots {
        margin-top: 25rem;
    }
}


/*    DESKTOP     */

@media screen and (min-width: 1024px) and (max-width: 2600px) {
    .splash_img_tablet {
        display: none;
    }
}

@-webkit-keyframes scroll_button {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes scroll_button {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes scroll_button {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes scroll_button {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}